.team-col-wrap {

  .team-name {
       
  }
  
  .team-country {
    
  }
  
  .team-profile-image {
    img {
      border-radius: 50%;
    }
  }
  
  .team-profile-desc {
    background-image: linear-gradient(
     115deg,
     var(--global-child-color-blue-50) 0%,
     var(--global-child-color-pink-50) 100%,
   );
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  
  ul.wp-block-social-links {
    
    &.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:focus svg {
      fill: var(--global--color-white);
    }
    
    li.wp-social-link {
      background-color: #28303d;
      color: #fff;
      padding: 0;
    }
    
    li.wp-social-link a.wp-block-social-link-anchor {
      
    }
    
  }
  
}



/**
 * Responsive column
 */

@media only screen and (min-width: 782px) and (max-width: 992px) {

}

