// Variable
$team-field-spacing-v: calc( 0.333 * var(--global--spacing-vertical) );
$team-field-spacing-v-2x: calc( 0.666 * var(--global--spacing-vertical) );

.wp-block-columns .wp-block-column.team-col-wrap {

  .team-name {
    margin-top: $team-field-spacing-v;  
    margin-bottom: $team-field-spacing-v;   
  }
  
  .team-country {
    margin-top: 0;
    margin-bottom: $team-field-spacing-v; 
  }
  
  .team-profile-image {
    margin-bottom: $team-field-spacing-v;   
    img {
      border-radius: 50%;
    }
  }
  
  .team-profile-desc {
    margin-top: $team-field-spacing-v-2x; 
    margin-bottom: $team-field-spacing-v-2x; 
  }
  
  > ul.wp-block-social-links {  
    margin-top: 0;  
    margin-bottom: var(--global--spacing-vertical);  
  }    
  
}

.wp-block-columns .wp-block-column.team-col-wrap {

  > ul.wp-block-social-links {
    
    li.wp-social-link {
      background-color: #28303d;
      color: #fff;
      padding: 0;
    }
    
    li.wp-social-link a.wp-block-social-link-anchor {
      
    }
    
    &.wp-block-social-links .wp-block-social-link .wp-block-social-link-anchor:focus svg {
      fill: var(--global--color-white);
    }    
    
  }

}

// Responsive team column
@media only screen and (min-width: 782px) and (max-width: 992px) {

}