.site-footer {
	max-width: none;
	background-color: var(--global--color-white);
	padding-bottom: 0;

	.widget-area {
		grid-template-columns: none;
		margin-top: var(--global--spacing-vertical);
		text-align: center;

		.widget {
			margin-top: 0;
		}

		h4 {
			display: inline;
			margin-top: 0;
			@include gradient-text-dark;
			font-weight: 800;
			font-size: var(--global--font-size-lg);
		}
	}

	.site-info {
		display: flex;
		flex-wrap: wrap;
		row-gap: var(--global-spacing-vertical);
		max-width: var(--responsive--alignwide-width);
		margin-left: auto;
		margin-right: auto;
		@include gradient-single-line;
	}
}

.footer-navigation {
	margin-top: 0;
	margin-bottom: 0;
}
