.site-footer {
	max-width: none;
	background-color: var(--global--color-white);
	padding-bottom: 0;

	.widget-area {
		grid-template-columns: none;
		margin-top: var(--global--spacing-vertical);
		text-align: center;

		.widget {
			margin-top: 0;
		}

		h4 {
			display: inline;
			margin-top: 0;
			@include gradient-text-dark;
			font-weight: 800;
			font-size: var(--global--font-size-lg);
		}
	}

	.site-info {
		display: flex;
		flex-wrap: wrap;
		row-gap: var(--global-spacing-vertical);
		max-width: var(--responsive--alignwide-width);
		margin-left: auto;
		margin-right: auto;
		@include gradient-single-line;
	}
}

.footer-navigation {
	margin-top: 0;
	margin-bottom: 0;
}

.footer-navigation a {
	
  text-decoration: none;
	display: inline-block;
	
	span {
		display: block;
    text-align: left;
    text-decoration: underline;
    text-underline-offset: 1px;
    font-weight: var(--heading--font-weight-strong);   
	}
	
	&:hover {
		
    text-decoration: none !important;
    
		span {

		}
		
	}
	
	.link-label {
    display: block;
		line-height: 1;
    margin-top: -7px;
    font-weight: var(--heading--font-weight);
    font-size: 85%;
    text-decoration: underline;
    text-decoration-color: #fff;
	}
	
}

@media only screen and (max-width: 960px) {
  
  .site-footer .site-info {
    
    > div {
      flex: 0 0 100%;
    }
    
    .powered-by {
      text-align: center;
      padding-top: var(--global--spacing-vertical);
    }
    
  }  
  
}