.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-60 {
	margin-bottom: 60px;
}

.wptd-gradient-text {
	@include gradient-text;
}

.wptd-gradient-text-dark {
	@include gradient-text-dark;
}

@media only screen and (max-width: 481px) {
	.mobile-text-left {
		text-align: left;
	}
}

body.cookies-not-set {
  
  .site-footer {

    padding-bottom: 86px;

    @media only screen and (max-width: 978px) {
      padding-bottom: 106px;
    }

    @media only screen and (max-width: 540px) {
      padding-bottom: 130px;
    }
    
  }
  
}